@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #14F195;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #14F195;
} 